= simple_form_for @note do |f|
  = f.input :title
  = f.input :content
  = f.button :submit

%div{ class: "content-page" }

  %div{ class: "content" }
    %div{ class: "container-fluid" }
      %div{ class: "row" }
        %div{ class: "col-12" }
          %div{ class: "p-20" }
            %form{ class: "form-horizontal", role: "form" }

              %div{ class: "form-group row" }
                %label{ class: "col-2 col-form-label" } Title
                %div{ class: "col-10" }
                  %input{ type: "text", class: "form-control", placeholder: "Enter a title"  }

              %div{ class: "form-group row" }
                %label{ class: "col-2 col-form-label" } Note
                %div{ class: "col-10" }
                  %textarea{ class: "form-control", rows: "5"  }

        %div{ class: "text-right" }
          %button{ class: "btn btn-success waves-effects waves-light" }
            %span Save
            %i{ class: "fa fa-save m-l-5" }