%div{ class: "content" }
  %div{ class: "container-fluid" }

    %div{ class: "row" }
      %div{ class: "col-12" }
        %div{ class: "card-box" }
          %h2 Edit Note

          = render 'form'

= link_to 'cancel', note_path