%div{ class: "content" }
  %div{ class: "container-fluid" }
    %div{ class: "row" }
      %div{ class: "col-12" }
        %div{ class: "card-box" }
          %h1{ class: "display-1"} NoteToday
    %div{ class: "row" }
      %div{ class: "col-sm-6" }
        %div{ class: "card m-b-30 card-body" }
          %h5{ class: "card-title" } Already have an account?
          %p{ class: "card-text" } If you already have an account, sign in to get started.
          = link_to "Sign In", user_session_path,  class: "btn btn-primary waves-effect waves-light"
      %div{ class: "col-sm-6" }
        %div{ class: "card m-b-30 card-body" }
          %h5{ class: "card-title" } Create An Account
          %p{ class: "card-text" } Create an account to get started
          = link_to "Sign Up", new_user_registration_path,  class: "btn btn-custom waves-effect waves-light"
    %div{ class: "row" }
      %div{ class: "col-sm-12" }
        %div{ class: "profile-user-box card-box bg-warning" }
          %p{ class: "text-center" } Guests, you may sign in with<br/>Username: guest@demo.com<br/> Password: guest





-#    <div class="row">
-#      <div class="col-sm-12">
-#        <!-- meta -->
-#        <div class="profile-user-box card-box bg-custom">
-#          <div class="row">
-#            <div class="col-sm-6">
-#              <span class="pull-left mr-3"><img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-lg rounded-circle"></span>
-#              <div class="media-body text-white">
-#                <h4 class="mt-1 mb-1 font-18">Michael A. Franklin</h4>
-#                <p class="font-13 text-light"> User Experience Specialist</p>
-#                <p class="text-light mb-0">California, United States</p>
-#              </div>
-#            </div>
-#            <div class="col-sm-6">
-#              <div class="text-right">
-#                <button type="button" class="btn btn-light waves-effect">
-#                  <i class="mdi mdi-account-settings-variant mr-1"></i> Edit Profile
-#                </button>
-#              </div>
-#            </div>
-#          </div>
-#        </div>
-#        <!--/ meta -->
-#      </div>
-#    </div>
-#  </div>
-#</div>