#banner
  .banner_content
    %h1 NoteToday
    %buttton= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Loreum ipsum blah blah blah

#bottom_cta
  .wrapper
    %h2 Go Ahead