!!! 5
%html

  %head
    %title NoteToday
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    %p{ class: "notice"}
    %p{ class: "alert"}

    %div#wrapper

      %div{ class: "left side-menu" }

        %div{ class: "slimscroll-menu", id: "remove-scroll"}

          %div{ class: "topbar-left"}
            %a{href: "application.html.haml", class: "logo" }
              %span
                %img{ src: "", alt: "", height: "22" }
              %i
                %img{ src: "", alt: "", height: "28"}

          %div{ class: "user-box"}
            %div{ class: "user-img"}
              %img{ src: "", alt: "user-img", title: "User Name", class: "rounded-circle img-fluid" }
            %h5 Hello, There
            %p Admin Head

          %div{ id: "sidebar-menu"}
            %ul{ class: "metismenu", id: "side-menu" }
              %li
                %a{ href: "application.html.haml" }
                  %i{ class: "fa fa-desktop"}
                  %span{ class: "badge badge-danger badge-pill pull-right" }
                  %span Dashboard

              %li
                %a{ href: "javascript: void(0);" }
                  %i{ class: "fa fa-clone"}
                  %span Notes
                  %i{ class: "fa fa-arrow-circle-o-right" }

%div{ class: "content-page" }
  %div{ class: "topbar" }
    %nav{ class: "navbar-custom" }
      %ul{ class: "list-unstyled topbar-right-menu float-right mb-0"}
        %li{ class: "hide-phone app-search" }

        %li{ class: "dropdown notification-list" }
          %a{ class: "nav-link dropdown-toggle nav-user", role: "button"}
            %img{ src: "#", alt: "user", class: "rounded-circle" }
              %span{ class: "ml-1"} You're logged in!
              %i{ class: "fa fa-chevron-down" }
          %div{ class: "dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown" }

            %div{ class: "dropdown-item noti-title" }
              %h6{ class: "text-overflow m-0" } Welcome!

            %a{ class: "dropdown-item notify-item" }
              %i{ class: "fa fa-power-off" }
              %span Logout
  %div{ class: "content" }
    %div{ class: "container-fluid" }
      %div{ class: "row" }
        %div{ class: "col-12" }
          %div{class: "card-box" }
            %h4{ class: "header-title mb-4" } Account Overview
            %div{ class: "row text-center" }
              %div{ class: "col-sm-6 col-lg-6 col-xl-3" }
                %div{ class: "card-box widget-flat border-custom bg-custom text-white" }
                  %i{ class: "fa fa-hashtag" }
                  %h3{ class: "m-b-10" } Total Notes
                  %p{ class: "text-uppercase m-b-5 font-13 font-600" } N/A
              %div{ class: "col-sm-6 col-lg-6 col-xl-3" }
                %div{ class: "card-box bg-primary widget-flat border-primary text-white" }
                  %i{ class: "fa fa-hashtag" }
                  %h3{ class: "m-b-10" } Total Word Count
                  %p{ class: "text-uppercase m-b-5 font-13 font-600" } N/A
              %div{ class: "col-sm-6 col-lg-6 col-xl-3" }
                %div{ class: "card-box widget-flat border-success bg-success text-white" }
                  %i{ class: "fa fa-hashtag" }
                  %h3{ class: "m-b-10" } Most Words
                  %p{ class: "text-uppercase m-b-5 font-13 font-600" } N/A
              %div{ class: "col-sm-6 col-lg-6 col-xl-3" }
                %div{ class: "card-box widget-flat border-custom bg-custom text-white" }
                  %i{ class: "fa fa-hashtag" }
                  %h3{ class: "m-b-10" } Longest Read
                  %p{ class: "text-uppercase m-b-5 font-13 font-600" } N/A

  = yield

  %footer{ class: "footer text-center"} 2018 © Monica Howard



