!!! 5
%html

  %head
    %title NoteToday
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body

    %div#wrapper

      %div{ class: "left side-menu" }

        %div{ class: "slimscroll-menu", id: "remove-scroll"}

          %div{ class: "topbar-left"}
            %a{href: "application.html.haml", class: "logo" }
              %span
                %img{ src: "", alt: "", height: "22" }
              %i
                %img{ src: "", alt: "", height: "28"}

          %div{ class: "user-box"}
            %div{ class: "user-img"}
              %img{ src: "", alt: "user-img", title: "User Name", class: "rounded-circle img-fluid" }
            %h5 Hello, There
            %p Admin Head

          %div{ id: "sidebar-menu"}
            %ul{ class: "metismenu", id: "side-menu" }
              %li
                %a{ href: "application.html.haml" }
                  %i{ class: "fa fa-desktop"}
                  %span{ class: "badge badge-danger badge-pill pull-right" }
                  %span Dashboard
              %li
                %a{ href: "javascript: void(0);" }
                  %i{ class: "fa fa-clone"}
                  %span Notes
                  %i{ class: "fa fa-arrow-circle-o-right" }

      %div{ class: "content-page" }

        %div{ class: "content" }
          %div{ class: "container-fluid" }
            %div{ class: "row" }
              %div{ class: "col-12" }
                %div{class: "card-box" }
                  %h4{ class: "header-title mb-4" } Account Overview

      %div{ class: "content-page" }

        %div{ class: "content" }
          %div{ class: "container-fluid" }

            %div{ class: "row" }
              %div{ class: "col-12" }
                %div{ class: "p-20" }







        -#%ul{ class: "list-inline menu-left md-0" }
        -#  %li{ class: "float-left" }
        -#    %button{ class: "button-menu-mobile open-left disable-btn" }
        -#      %i{ class: "dripicons-menu" }
        -#    %div{ class: "page-title-box"}
        -#      %h4{ class: "page-title-box" }


    -#%header
    -#.header_inner
    -#= link_to "NoteToday", root_path
    -#
    -#%nav
    -#  - if user_signed_in?
    -#    = link_to "New Note", new_note_path
    -#    = link_to "Sign Out", destroy_user_session_path, method: :delete
    -#  - else link_to "Sign In"
    -#
    -#%p.notice= notice
    -#%p.alert= alert

  = yield

  %footer{ class: "footer text-center"} 2018 © Monica Howard



