!!! 5
%html

  %head
    %title NoteToday
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    %p{ class: "notice"}
    %p{ class: "alert"}

    %div#wrapper

      %div{ class: "left side-menu" }

        %div{ class: "slimscroll-menu", id: "remove-scroll"}

          %div{ class: "topbar-left"}
            %a{href: "application.html.haml", class: "logo" }
              %span
                %img{ src: "", alt: "", height: "22" }
              %i
                %img{ src: "", alt: "", height: "28"}

          %div{ class: "user-box"}
            %div{ class: "user-img"}
              %img{ src: "", alt: "user-img", title: "User Name", class: "rounded-circle img-fluid" }
            %h5 Hello, There
            %p Admin Head

          %div{ id: "sidebar-menu"}
            %ul{ class: "metismenu", id: "side-menu" }
              %li
                %a{ href: "application.html.haml" }
                  %i{ class: "fa fa-desktop"}
                  %span{ class: "badge badge-danger badge-pill pull-right" }
                  %span Dashboard
              %li
                %a{ href: "javascript: void(0);" }
                  %i{ class: "fa fa-clone"}
                  %span Notes
                  %i{ class: "fa fa-arrow-circle-o-right" }

%div{ class: "content-page" }
  %div{ class: "content" }
    %div{ class: "container-fluid" }
      %div{ class: "row" }
        %div{ class: "col-12" }
          %div{class: "card-box" }
            %h4{ class: "header-title mb-4" } Account Overview


  = yield

  %footer{ class: "footer text-center"} 2018 © Monica Howard



